<!DOCTYPE>
<html>

<body>
    <div th:fragment="footer">
        <div class="title-bar align-self-bottom">
            <div class="title-bar-left">
                <h6>RMIT Capstone Group H04 | Copyright 2019</h6>
            </div>
            <div class="title-bar-right">
                <ul class="breadcrumbs">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li class="disabled">Gene Splicing</li>
                    <li>
                        <span class="show-for-sr">Current: </span> Cloning
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>