<!DOCTYPE>
<html>

<body>
    <div th:fragment="header">
        <div class="nav-buttons">
            <h4 class="icon-space"><button class="menu-icon hide-for-large black-icon" type="button"
                    data-open="mobileNav"></button></h4>
        </div>
    </div>
    <div th:fragment="headerIndex">
        <div class="title-bar title-bar-mobile lite lite-text">
            <div class="title-bar-left">
                <span class="title-bar-title">Faux Exchange</span>
            </div>
            <div class="title-bar-right">
                <!-- <button href="/login" class=" button success">Login</button> -->
                <form action="/login">
                    <input class="button success" type="submit" value="Login">
                </form>
                <form action="/register">
                    <input class="button warning" type="submit" value="Sign up">
                </form>
                <!-- <button href="/register" class=" button warning">Sign Up</button> -->
            </div>
        </div>
    </div>

</body>

</html>