<!DOCTYPE>
<html>

<body>
    <div th:fragment="navigation">
        <ul class="vertical menu custom-nav">
            <span>Faux Exchange</span>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="currencies">Crypto</a></li>
            <li><a href="transactions">Transactions</a></li>
            <li><a href="orders">Orders</a></li>
            <span>Social</span>
            <li><a href="friends">Friends</a></li>
            <li><a href="leaderboards">Leaderboards</a></li>
            <span style="background:none;"><br></span>
            <li><a href="/"><i class="fi-list"></i>Logout</a></li>
        </ul>
    </div>
    <div th:fragment="newNavigation">
        <ul class="vertical menu">
            <li><a href="/"><i class="fi-list"></i> <span>Home</span></a></li>
            <li><a href="currencies">Currencies</a></li>
        </ul>
        <ul id="dev_nav" class="hide vertical menu">
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
            <li><a href="currency">Currency (BTC)</a></li>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="transactions">Transactions</a></li>
            <li><a href="orders">Orders</a></li>
            <li><a href="leaderboards">Leaderboards</a></li>
            <li><a href="friends">Friends</a></li>
        </ul>
    </div>
</body>

</html>