<!DOCTYPE>
<html>

<body>
    <div th:fragment="navigation">
        <div class="user-data" id="Nav-Gation"></div>
        <ul class="vertical menu custom-nav">
            <span>Faux Exchange</span>
            <li><a href="dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li><a href="currencies"><i class="fab fa-bitcoin"></i> Crypto</a></li>
            <li><a href="transactions"><i class="fas fa-exchange-alt"></i> Transactions</a></li>
            <li><a href="orders"><i class="fas fa-file-alt"></i></i> Orders</a></li>
            <span>Social</span>
            <!-- <li><a href="friends"><i class="fas fa-user-friends"></i> Friends</a></li> -->
            <li><a href="leaderboards"><i class="fas fa-crown"></i> Leaderboards</a></li>
            <span style="background:none;"><br></br></span>
            <li><a href="/"><i class="fas fa-sign-out-alt"></i> </i>Logout</a></li>
        </ul>
        <script src="js/UserNav.js" type="text/babel"></script>
    </div>


    <div th:fragment="admin-navigation">
        <ul class="vertical menu custom-nav">
            <span>Faux Exchange</span>
            <li><a href="dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <span style="background:none;"><br></br></span>
            <li><a href="/"><i class="fas fa-sign-out-alt"></i> </i>Logout</a></li>
        </ul>
    </div>
</body>

</html>