@import url('https://fonts.googleapis.com/css?family=Copse|Montserrat:300,400,700');

* {
    /* font-family: 'Montserrat', sans-serif!important; */
}

:root {
    --main-bg-color: #1a1b1f;
}

html {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}


.center-DIV {
    /* margin: 5em auto; */
    position: relative;
    z-index: 5;
    padding-left: 2.5em;
    padding-right: 2.5em;
    /* height: 40em; */
    min-height: 100vh;
    display: -webkit-flex;
    /* Safari */
    -webkit-align-items: center;
    /* Safari 7.0+ */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 40em) {
    .center-DIV-mobile {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.transation-money-in-arrow {
    font-size: 20px;
    color: green;
}

.transation-money-out-arrow {
    font-size: 20px;
    color: red;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif !important;
}

p,
span,
a {
    font-family: 'Montserrat', sans-serif !important;
}