@import url('https://fonts.googleapis.com/css?family=Copse|Montserrat:300,400,700');

* {
    /* font-family: 'Montserrat', sans-serif!important; */
}



html {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.center-DIV {
    /* margin: 5em auto; */
    position: relative;
    z-index: 5;
    background: #fff;
    padding-left: 2.5em;
    padding-right: 2.5em;
    /* height: 40em; */
    min-height: 100vh;
    display: -webkit-flex;
    /* Safari */
    -webkit-align-items: center;
    /* Safari 7.0+ */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 40em) {
    .center-DIV-mobile {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.transation-money-in-arrow {
    font-size: 20px;
    color: green;
}

.transation-money-out-arrow {
    font-size: 20px;
    color: red;
}

/* CONTENT */
.index-header {
    font-family: inherit;
    /* background-color: blueviolet; */
    background-image: url("../images/indexbanner.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    min-height: 50em;
    width: 100%;
}

.index-header-title {
    position: relative;
    /* margin: 5em auto; */
    top: 10vh;
    padding-left: 5em;
    color: white;
}

.index-h1 {
    font-family: inherit;
    font-weight: 700 !important;
    padding: none;
}

.index-body {
    top: -10vh;
    /* display: inline-block; */
    align-items: center;

}

.curved-lid {
    position: relative;
    top: -10vh;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    height: 10em;
    width: 100vw;
    background: #fff;
    z-index: 2;
    /* -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.75); */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parent-twin {
    display: flex;
    align-items: flex-start;
    min-height: 40em;
    max-height: 60em;
    flex-direction: column;
}


.index-body-top {
    width: 80vw;
    display: inline-block;
    padding-right: 1em;
    align-self: center;
    align-content: center;
    text-align: center;
}

.index-body-bottom {
    width: 80vw;
    height: 70vh;
    /* background-color: darkorchid; */
    min-height: 30vh;
    /* display: inline-block; */
    padding-left: 1em;
    min-height: 40em;
    max-height: 60em;
    /* display: flex; */
    /* align-items: flex-start; */
    flex-wrap: wrap;
    /* align-content: center; */
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    color: white;
}

.icon h3{
    margin-top: 10px;
}

.trade{
    background-image: linear-gradient(to top right, rgb(0, 104, 139), rgb(42, 202, 255));
}

.grow {
    background-image: linear-gradient(to top right, rgb(69, 139, 0), rgb(184, 255, 114));
}


.compare {
    background-image: linear-gradient(to top right, rgb(85, 26, 139), rgb(191, 144, 234));
}

.compete {
    background-image: linear-gradient(to top right, rgb(186, 22, 26), rgb(252, 103, 109));
}

.info-box {
    width: 20em;
    height: 20em;
    /* display: table; */
    margin: .5em auto;
    /* align-items: center;
    justify-content: center; */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.info-box h3 {
    font-family: 'Copse', sans-serif !important;
}

.info-box-text{
    overflow:hidden;
    transition:flex 0.3s ease-out;
    height:auto;
    flex:0;
}

.show-text{
    flex: 1;
    /* background-color: aqua; */
}



@media only screen and (max-width: 63em) {
    .parent-twin-mobile {
        flex-direction: column;
    }

    .index-body-left-mobile {
        width: 90vw;
        left: 10em;
        right: 10em;
        margin-left: auto;
        margin-right: auto;
        align-self: none;
    }

    .index-body-right-mobile {
        width: 90vw;
        height: 50vh;
        /* background-color: darkorchid; */
        min-height: 30vh;
        margin-left: auto;
        margin-right: auto;
        min-height: 40em;
        max-height: 60em;
    }
}


/* NAVIGATION */

.site-info {
    height: 3em;
    width: 5em;
    border-radius: 80%;
    display: flex;
    align-items: center;
    /* -webkit-box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.5); */
}

.arrow-down {
    /* border-top-color: #8e8e8e; */
    border-top-color: white;
    align-self: center;
}

.read-more {
    color: black;
}

.site-info:hover {}

@media only screen and (max-width: 27em) {
    .title-bar-mobile {
        flex-direction: column;
    }

    .title-bar-right {
        display: flex;
        align-items: flex-start;
    }
}

.title-bar {
    background-color: white;
}

.title-bar-title,
.footer-title {
    color: #000;
}

/* BUTTONS */

.button {
    border-radius: 2em;
    border: none;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button:focus {
    outline: none;
}

.success {
    background-size: 300% 100%;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    background-image: linear-gradient(to top right, rgb(1, 172, 85), rgb(94, 214, 144));
    color: white !important;
    float: right;
}

.warning {
    background-size: 300% 100%;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    background-image: linear-gradient(to top right, rgb(5, 101, 151), rgb(93, 168, 204));
    color: white !important;
    float: right;
}

.error {
    background-size: 300% 100%;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    background-image: linear-gradient(to top right, rgb(202, 14, 14), rgb(226, 131, 131));
    color: white !important;
}

.info {
    background-size: 300% 100%;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    background-image: linear-gradient(to top right, rgb(170, 170, 170), rgb(237, 237, 237));
    color: white !important;
}

.footer {
    bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif !important;
}

p,
span,
a {
    font-family: 'Montserrat', sans-serif !important;
}