.switch-paddle::after{
    border-radius: 3em;
}

.menu-icon::after {
    background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
}

.nav-NEW {
    height: 5em;
    position: absolute;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-info {
    height: 3em;
    width: 5em;
    border-radius: 80%;
    display: flex;
    align-items: center;
    /* -webkit-box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.5); */
}

.nav-title {
    display: flex;
}

.icon-space{
    padding-right: 1em;
}

.arrow-down {
    /* border-top-color: #8e8e8e; */
    border-top-color: white;
    align-self: center;
}

.read-more {
    color: black;
}


.title-bar-title,
.footer-title {
    color: #000;
}

/* BUTTONS */


.button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button {
    border-radius: 2em;
    border: none;
    background-size: 300% 100%;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    background-image: linear-gradient(to top right, rgb(26, 128, 184), rgb(135, 204, 236));
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white !important;
}

.button:focus {
    outline: none;
}

.success {
    background-size: 300% 100%;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    background-image: linear-gradient(to top right, rgb(20, 172, 33), rgb(163, 231, 191));
    color: white !important;
}

.warning {
    background-size: 300% 100%;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    background-image: linear-gradient(to top right, rgb(182, 120, 40), rgb(233, 176, 90));
    color: white !important;
}

.error {
    background-size: 300% 100%;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    background-image: linear-gradient(to top right, rgb(202, 14, 14), rgb(226, 131, 131));
    color: white !important;
}

.info {
    background-size: 300% 100%;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    background-image: linear-gradient(to top right, rgb(170, 170, 170), rgb(237, 237, 237));
    color: white !important;
}

.footer {
    bottom: 0;
}

.custom-nav{
    color: #fff;
    
}

.custom-nav span{
    padding: 1em;
    background-color: #212328;
    font-weight: 700;
}

.avatar{
    border-radius: 50%;
    height: 5em;
    width: 5em;
    object-fit: cover;
    margin-bottom: 2em;
}

.user-data{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 1em;
}

.custom-nav a{
    color: #fff;
    font-weight: 500;
}
.custom-nav a:hover{
    background-color: #32353d;
}

.page-title{
    font-weight: 700;
}
.title-pane{
    width: 90%;
    align-content: left;
    transition: all 1s;
}

input[type=text]{
    border-radius: 0.65em;
}