<!DOCTYPE html>
<html>
<header>
	<link rel=stylesheet type="text/css" href="../static/main.css">
	<title>Currencies</title>
</header>

<body>
	<h1>Currency Data Goes Here</h1>
</body>


<!-- JS libs -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js" crossorigine></script>
<script src="Chart.bundle.js"></script>

</html>