<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Home</title>
    <!-- foundation-float.min.css: Compressed CSS with legacy Float Grid -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation-float.min.css"
        integrity="sha256-sP0p6J7SbJGiJ2gkdY1nkVsLgdwiFN2kI370lU+zacQ= sha384-yZLxxcD8nfiSt1qfKJWwHwtkL58WZDTlkBnZN60qr3ZS35+LDsmUF2JHLxdyZ+KU sha512-Z3WbpfWFSsK2dBvoSYZnMvPmxSJUa5cxj3TYlmyj6cq8IXy7iB2nlUk+jjms8gnz4HmpQk/yhRSlRzW7keoSlg=="
        crossorigin="anonymous">

    <!-- foundation-prototype.min.css: Compressed CSS with prototyping classes -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation-prototype.min.css"
        integrity="sha256-ksLmXa0k3ACbX6azB9g6l7XlmSKFBkuH0DXKNwULXtE= sha384-RGTvu65DAT+yLQsTj5tnITDrMfrS5mbajNAYILSg4hHr9vRr/3Y9q0WAdChqLKfx sha512-KMJ7XYrv5UcwEvJFaYnLSdN5O3fT7aQvjed//LQPB3AsN4VPA/wXG9j4x4vKZkjNmU/U8aZC9Ac3FYxs9lPXcw=="
        crossorigin="anonymous">

    <!-- foundation-rtl.min.css: Compressed CSS with right-to-left reading direction -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation-rtl.min.css"
        integrity="sha256-jvk46bzgetf2fy3FF19toDOoy9CG3aFqZfd229doSyo= sha384-w6E9ynA6OV6MFswc7C8nr8QoBiRtqqOKF/5M9ZVyVDDyrUPLI75xizNuXgRZxWK5 sha512-7MZk47L+5Mj6Y0dP3NuB2aqlNdDgzTlCf8m50nvgnCHUbxZ9KabCy8VUzQAl/DqDKwR7E6JsCf1MUjkfCiVzJw=="
        crossorigin="anonymous">


    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel=stylesheet type="text/css" href="css/main.css">
    <link rel=stylesheet type="text/css" href="css/color.css">
    <link rel=stylesheet type="text/css" href="css/nav.css">
    <link rel=stylesheet type="text/css" href="css/home.css">
</header>
<!-- https://foundation.zurb.com/sites/docs -->

<body>
    <!-- CODE GOES BELOW -->
    <header class="index-header">
        <div class="index-header__bg"></div>
        <div class="index-nav">
            <div class="nav-title">
                <h4>Faux Exchange</h4>
            </div>
            <div class="nav-buttons">
                <form action="/login">
                    <input class="button success" type="submit" value="Login">
                </form>
                <!-- <form action="/register">
                    <input class="button warning" type="submit" value="Sign up">
                </form> -->
            </div>
        </div>
        <div class="ih-split-parent">
            <div class="ih-split-child">
                <div style="padding-left:1.5em;">
                    <h2>Real Time Trading.<br>No risk</h2>
                    <p>A new fun way to learn crypto trading, sign up today and get started!</p>
                </div>
            </div>
            <div class="ih-split-child flex-center">
                <div class="reg-pane">
                    <h4>Sign Up for Free</h4>
                    <form>
                        <input type="text" name="fname" placeholder="First Name" />
                        <input type="text" name="lname" placeholder="Last Name" />
                        <input type="date" name="dob" placeholder="Date of Birth" />
                        <input type="email" name="email" placeholder="Email" />
                        <input type="password" name="password" placeholder="password" />
                        <input type="submit" class="button" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="index-body">
        <h4>App Features</h4>
        <div class="index-content">
            <div class="index-box">
                <h3 class="box-icon" style="font-size:64px;"><i class="fas fa-coins"></i></h3>
                <p class="box-heading">Trade your favourite Crypto</p>
                <p class="box-info">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to
                    throw Antwone into a glass motherfuckin'</p>
            </div>
            <div class="index-box">
                <h3 class="box-icon" style="font-size:64px;"><i class="fas fa-seedling"></i></h3>
                <p class="box-heading">Grow your Score</p>
                <p class="box-info">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to
                    throw Antwone into a glass motherfuckin'</p>
            </div>
            <div class="index-box">
                <h3 class="box-icon" style="font-size:64px;"><i class="fas fa-brain"></i></h3>
                <p class="box-heading">World class AI</p>
                <p class="box-info">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to
                    throw Antwone into a glass motherfuckin'</p>
            </div>
            <div class="index-box">
                <h3 class="box-icon" style="font-size:56px;"><i class="fas fa-rocket"></i></h3>
                <p class="box-heading">Compete with your friends</p>
                <p class="box-info">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to
                    throw Antwone into a glass motherfuckin'</p>
            </div>
        </div>
    </div>
    <div class="cell shrink footer">

    </div>
    <!-- CODE GOES ABOVE -->
</body>

</html>