<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- foundation-float.min.css: Compressed CSS with legacy Float Grid -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation-float.min.css"
        integrity="sha256-sP0p6J7SbJGiJ2gkdY1nkVsLgdwiFN2kI370lU+zacQ= sha384-yZLxxcD8nfiSt1qfKJWwHwtkL58WZDTlkBnZN60qr3ZS35+LDsmUF2JHLxdyZ+KU sha512-Z3WbpfWFSsK2dBvoSYZnMvPmxSJUa5cxj3TYlmyj6cq8IXy7iB2nlUk+jjms8gnz4HmpQk/yhRSlRzW7keoSlg=="
        crossorigin="anonymous">

    <!-- foundation-prototype.min.css: Compressed CSS with prototyping classes -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation-prototype.min.css"
        integrity="sha256-ksLmXa0k3ACbX6azB9g6l7XlmSKFBkuH0DXKNwULXtE= sha384-RGTvu65DAT+yLQsTj5tnITDrMfrS5mbajNAYILSg4hHr9vRr/3Y9q0WAdChqLKfx sha512-KMJ7XYrv5UcwEvJFaYnLSdN5O3fT7aQvjed//LQPB3AsN4VPA/wXG9j4x4vKZkjNmU/U8aZC9Ac3FYxs9lPXcw=="
        crossorigin="anonymous">

    <!-- foundation-rtl.min.css: Compressed CSS with right-to-left reading direction -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation-rtl.min.css"
        integrity="sha256-jvk46bzgetf2fy3FF19toDOoy9CG3aFqZfd229doSyo= sha384-w6E9ynA6OV6MFswc7C8nr8QoBiRtqqOKF/5M9ZVyVDDyrUPLI75xizNuXgRZxWK5 sha512-7MZk47L+5Mj6Y0dP3NuB2aqlNdDgzTlCf8m50nvgnCHUbxZ9KabCy8VUzQAl/DqDKwR7E6JsCf1MUjkfCiVzJw=="
        crossorigin="anonymous">


    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel=stylesheet type="text/css" href="css/main.css">
</header>
<!-- https://foundation.zurb.com/sites/docs -->

<body>
    <div th:replace="fragments/header :: headerIndex"></div>
    <div class="index-header">
        <div class="index-header-title">
            <h1 class="index-h1">Real Time Trading.</h1>
            <h1 class="index-h1">No Risk.</h1>
            <h5>Faux Exchange is a university capstone project<br> developed by 3 idiots</h5>
        </div>
    </div>
    <div class="curved-lid">
        <!-- <div class="button info site-info"><div class="arrow-down"></div></div>
        <span class="read-more">Read more!</span> -->
    </div>
    <div class="center-DIV window-size index-body center-DIV-mobile" style="min-height: 60vh;">
        <div class="parent-twin parent-twin-mobile">
            <div class="index-body-top index-body-left-mobile">
            
                    <h3>Learning to trade crypto currency its as easy as 1 2 3.</h3>
                    <h3>Start trading today!</h3>
                    <form action="/register">
                        <input class="button error" type="submit" value="Sign up">
                    </form>
            </div>
            <div class="index-body-bottom index-body-right-mobile">
                <div class="info-box box-1">
                    <h3>1.</h3>
                    <h4>Trade</h4>
                </div>
                <div class="info-box box-2">
                    <h3>2.</h3>
                    <h4>Grow</h4>
                </div>
                <div class="info-box box-3">
                    <h3>3.</h3>
                    <h4>Compare</h4>
                </div>
                <div class="info-box box-4">
                    <h3>4.</h3>
                    <h4>Compete</h4>
                </div>
            </div>
        </div>


        <!-- CODE GOES BELOW -->



        <!-- CODE GOES ABOVE -->

        <div th:replace="fragments/footer :: footer-index"></div>
        <!-- JS libs -->
        <!-- Foundation Libs -->
        <script src="js/jquery.js"></script>
        <script src="js/what-input.js"></script>
        <script src="js/foundation.min.js"></script>
        <!-- Initialize Foundation -->
        <script>
            $(document).foundation();
        </script>

        <!-- ReactJS Libs -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js" crossorigine>
        </script>

        <!-- Graph Lib -->
        <script src="js/Chart.bundle.js"></script>

        <!-- Custom Lib -->
        <script src="js/main.js"></script>
</body>

</html>